* { 
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  background-color:#d0d0d0;
  font-size: 1.3rem;
  color: black;
}
.navbar{
  height: 80px;
  display: flex;
  align-items: center;
}
.container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item{
  width:100px;
  text-align: center;
  margin: 0 10px;
  padding: 8px 12px;
  border-radius: 8px;
}
.item:hover{
  background-color: rgb(70, 70, 70);
  color: white;
}
.dark{
  background-color: rgb(70, 70, 70);
  color: white;
}
h1{
  margin-left:20px;
}


